<form>
    <div>
        <div class="fatigue-window flexcol">Did you rest for 12 hours or more?</div>
        <li class="flexrow vertical-center">
            <button type="button" title="Yes" data-action="yes" class="flex1 fatigue-button">
                <div>Yes</div>
            </button>
            <button type="button" title="No" data-action="no" class="flex1 fatigue-button">
                <div>No</div>
            </button>
        </li>
    </div>
</form>