<form>
    <div>
        <div class="fatigue-window flexcol">{{localize "PF2E-FATIGUE.rest-for-twelve-question"}}</div>
        <li class="flexrow vertical-center">
            <button type="button" title="Yes" data-action="yes" class="flex1 fatigue-button">
                <div>{{localize "PF2E-FATIGUE.yes"}}</div>
            </button>
            <button type="button" title="No" data-action="no" class="flex1 fatigue-button">
                <div>{{localize "PF2E-FATIGUE.no"}}</div>
            </button>
        </li>
    </div>
</form>